<section class="section--sm">
  <div class="container" style="min-width:420px;">
    <h1 class="heading_home">Home</h1>

    <% if current_user&.id %>
      <div class="tweet_form">
        <div>
          <%= image_tag "thanus.png", class: "avatar" %>
        </div>
        <div style="width:84%;">
          <%= form_with(model: Tweet.new, html: {style: "display:flex;flex-direction:column;align-items:flex-end;"}) do |form|%>
            <%= form.text_area :body, placeholder: "Remember to thing before write.", class: "tweet_area" %>
            <%= form.submit "Tweet",class: "btn btn--primary btn--medium", style: "border-radius: 100px;"%>
          <% end %>
        </div>
      </div>      
    <% end %>
    
    <div class="tweets" >
      <% @tweets.each do |tweet| %>
        <div class="tweet_frame">
          <div class="content">
            <div class="tweet_frame_header">
              <%= image_tag "thanus.png", class: "avatar" %>

              <div class="tweet_frame_header_data">
                <div class="tweet_username">
                  <p class="name">
                    <%= tweet.user.name %>
                  </p>
                  <p class="username">
                    <%= "@#{tweet.user.username}" %>
                  </p>
                </div>

                <p class="time_ago"><%= "#{distance_of_time_in_words(tweet.created_at, DateTime.now)} ago" %></p>
              </div>
            </div>

            <div>
              <p class="tweet_body"><%= link_to tweet.body, tweet_path(tweet) %></p>
            </div>

            <div class="tweet_frame_footer">
              <div class="icons">
                <%= link_to(image_tag("Vector.svg"), tweet_path(tweet)) %>
                <p class="time_ago"><%= tweet.comments_count %></p>
              </div>

              <div class="icons">
                <% if current_user&.id == tweet.user.id %>
                  <%= link_to(image_tag('Icon-delete.svg'), tweet, method: :delete,
                                         data: { confirm: '¿Quieres borrar este tweet?'},) %>
                  <%= link_to(image_tag('Icon-edit.svg'), edit_tweet_path(tweet)) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
