<section class="section--sm">
  <div class="container" style="min-width:420px;">
    <h1 class="heading_home">Tweet Detail</h1>

    <div class="tweets" >
        <div class="tweet_frame">
          <div class="content">
            <div class="tweet_frame_header">
              <%= image_tag @tweet.user.avatar, class: "avatar" %>

              <div class="tweet_frame_header_data">
                <div class="tweet_username">
                  <p class="name">
                    <%= @tweet.user.name %>
                  </p>
                  <p class="username">
                    <%= "@#{@tweet.user.username}" %>
                  </p>
                </div>

                <p class="time_ago"><%= "#{distance_of_time_in_words(@tweet.created_at, DateTime.now)} ago" %></p>
              </div>
            </div>

            <div>
              <p class="tweet_body"><%= @tweet.body %></p>
            </div>

            <div class="tweet_frame_footer">
              <div class="icons">
                <%= image_tag "Vector.svg" %>
                <p class="time_ago"><%= @tweet.comments_count %></p>
              </div>

              <div class="icons"></div>
            </div>
          </div>
        </div>
    </div>
    
    <% if current_user&.id %>
      <div class="tweet_form">
        <div>
          <%= image_tag current_user.avatar, class: "avatar" %>
        </div>
        <div style="width:84%;">
          <%= form_tag "/tweets/#{@tweet.id}/comments" do |form| %>
            <%= text_area_tag :body, params[:body], placeholder: "Remember to thing before write.", class: "tweet_area" %>
            <div style="display:flex;flex-direction:column;align-items:flex-end;">
              <%= button_tag "Comment",class: "btn btn--primary btn--medium", style: "border-radius: 100px;"%>
            </div>
          <% end %>
        </div>
      </div>      
    <% end %>
    
    <div class="tweets" >
      <% @tweet.comments.sort{|x,y| y[:created_at]<=>x[:created_at]}.each do |comment| %>
        <div class="tweet_frame">
          <div class="content">
            <div class="tweet_frame_header">
              <%= image_tag comment.user.avatar, class: "avatar" %>

              <div class="tweet_frame_header_data">
                <div class="tweet_username">
                  <p class="name">
                    <%= comment.user.name %>
                  </p>
                  <p class="username">
                    <%= "@#{comment.user.username}" %>
                  </p>
                </div>

                <p class="time_ago"><%= "#{distance_of_time_in_words(comment.created_at, DateTime.now)} ago" %></p>
              </div>
            </div>

            <div>
              <p class="tweet_body"><%= comment.body %></p>
            </div>

            <% if current_user&.id == comment.user.id %>
              <div class="tweet_frame_footer">
                <div class="icons"></div>
                
                <div class="icons">
                  <%= link_to(image_tag('Icon-delete.svg'), comment, method: :delete, data: { confirm: '¿Quieres borrar este comment?'},) %>
                  <%= link_to(image_tag('Icon-edit.svg'), edit_comment_path(comment)) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>