<!DOCTYPE html>
<html>
  <head>
    <title>TweetableIndividual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header class="navbar align-center">
      <%= link_to(image_tag("twitter-logo", :alt => "logo"), root_path, class: 'logo' ) %>
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>

          <% if user_signed_in? %>
            <ul id="menu">
              <% if current_user.admin? %>
                <p class="menu_text"><li>Welcome admin!</li></p>
              <% else %>
                <p class="menu_text"><li>Welcome Churrucutito!</li></p>
              <% end %>
              <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "menu_link" %></li>
              <li><%= link_to 'Games', games_path, class: "menu_link" %></li>
              <li><%= link_to 'Companies', companies_path, class: "menu_link" %></li>
              <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "btnew btnew--secondary" %></li>
            </ul>
          <% else %>
            <ul id="menu_sign_in">
              <p class="menu_text"><li>Sign in to start tweeting</li></p>
              <li><%= link_to 'Login', new_user_session_path, class: "btnew btnew--primary" %></li>
            </ul>
          <% end %>
          
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer class="container m-auto" style="max-width: 400px;padding: 16px 0px;">
      <p class="footer--txt content--sm">© 2021 - Codeable Tweetable</p>
      <p class="content--sm">Build with <span class="footer--heart">♥</span> by</p>
      <div class="footer--social-container content--xs">
        <div class="footer--social-name">
          <%= image_tag "linkdin-vector.svg" %>
          <p class="footer--txt"> José Heredia</p>
        </div>
      </div>
    </footer>
  </body>
</html>
